/*salmon  b5736d*/

.intro {
  color: white;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.salmon {
  color: #80ccd2;
}

.divider {
  position: absolute;
  border: transparent;
  border-bottom: 1px solid #80ccd2;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  left: 0;
  right: 0;
}

.divider.tryon {
  top: 10px;
}

.intro.first {
  padding-top: 10px;
}

.intro.third {
  color: #80ccd2;
}

.intro.last {
  margin-bottom: 50px;
  padding-top: 10px;
}

.container,
.welcome {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
}

.welcome {
  top: 0;
  height: 370px;
  width: 450px;
}

.btn {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid white;
  outline: 0;
  cursor: pointer;
  border: 1px solid #80ccd2;
}

.inline-btn {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 30px;
  border-radius: 30px;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid white;
  outline: 0;
  cursor: pointer;
  border: 1px solid #80ccd2;
}

.btn p,
.inline-btn p {
  position: relative;
  color: white;
  font-size: 14px;
}
.inline-btn p {
  top: 5px;
}

input {
  position: relative;
  display: block;
  margin: auto;
  height: 30px;
  width: 250px;
  border: transparent;
  border-bottom: 1px solid white;
  background: black;
  color: white;
  font-size: 14px;
}

.product {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 340px;
  margin: 20px 10px;
  border: 1px solid rgba(225, 225, 225, .7);
  background: black;
  overflow: hidden;
}

.product-title {
  color: white;
  margin-top: 10px;
}

.product-cost {
  color: white;
}

.cart-btn {
  position: absolute;
  width: 170px;
  height: 30px;
  background: transparent;
  border: 1px solid #80ccd2;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  bottom: 10px;
  left: 0;
  right: 0;
  cursor: pointer;
}

.cart-btn p {
  color: white;
  font-size: 14px;
  position: relative;
  top: 4px;
}

.tryon-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 400px;
  height: 340px;
  background: transparent;
  margin: auto;
  text-align: center;
  font-size: 12px;
  border: 1px solid white;
}

.tryon-container p {
  color: black;
  position: relative;
}

.tryon {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: #80ccd2;
}

.tryon span {
  color: white;
  font-size: 14px;
}
