<div ng-hide='showTryOn || !showProducts' class="navbar">
</div>
<div ng-hide='showProducts || showTryOn' class="welcome">
<p class="intro first">you are the shopper</p>
<div class="divider"></div>
<p class="intro first">enter your name then try on one item</p>
<p class="intro">you'll be given three options</p>
<p class="intro orange">want, don't want, and need another size</p>
<div class="divider"></div>
<p class="intro last">your retail associate is <span class='salmon'>aware of how things are going</span> in real-time</p>
  <input class="name" ng-model='customer.name' placeholder='enter your name'>
  <button class='btn' ng-click='setName()'>
    <p>Submit</p>
  </button>
</div>
<div class='tryon-container' ng-show='showTryOn'>
  <p class="customer-name">Customer Name: {{customer.name}}</p>
  <p>Product Selected: {{productSelected.title}}</p>
  <br>
  <img ng-src="{{productSelected.photo}}" />
</div>
<div class='container' ng-show='showProducts && !showTryOn'>
  <div ng-repeat='product in products track by $index' class="product">
    <img ng-src="{{product.photo}}" />
    <p class="product-title">{{product.title}}</p>
    <p class="product-cost">{{product.cost}}</p>
    <div class="cart-btn">
      <p ng-click='tryOn(product)'>try on</p>
    </div>
  </div>
</div>
